/* 
    Created on : 16-ene-2017, 10:04:30
    Author     : Aph
*/


.aditionalInfo {
    position: relative;
    display: none;
    width: 400px; height: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
    background-color: #FFF;
    
    color: #333;
}

.container {
    text-align: left;
}