/* 
    Created on : 23/01/2017, 03:18:38 PM
    Author     : Aph
*/


/* Clase general para las im치genes que se mostrar치n */
.preloadingImg {
    position: relative;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Asignarles un tama침o */
.preloadingImg img {
    width: 100%;
    height: auto;
}


/* Div que se muestra antes y durante la carga de la p치gina */
#load_screen {
    position: fixed;
    top: 0px; left: 0px;
    width: 100%; height: 100%;
    background-color: rgb(0,0,0);
    z-index: 10;
}

#load_screen > #loading {
    position: absolute;
    top: 50%; left: 0px;
    width: 100%; height: 20px;
    
    text-align: center;
    color: #FFF;
    font-size: 50px;
}